{% extends "base.html" %}

{% block content %}
    {% include 'componentes/navbar.html' %}
    {% include 'componentes/whatsapp.html' %}
    <!--
    <section class="py-20 bg-white">
        <div class="max-w-4xl mx-auto px-4 text-center">
            <span class="text-slate-700 {{ info.estilo.pre_titulo }}">{{ info.problema.pretitulo }}</span>
            <h2 class="text-slate-900 {{ info.estilo.h2 }} mt-4">
                {{ info.problema.titulo }}
            </h2>
            <p class="text-xl text-slate-600 {{ info.estilo.p }}">
                {{ info.problema.descripcion }}
            </p>
            
            <div class="inline-block p-4 mt-6 bg-[{{ info.estilo.color_tema }}]/20 border border-[{{ info.estilo.color_tema }}] rounded-xl">
                <p class="text-[{{ info.estilo.color_tema }}] font-medium">
                    <strong>{{ info.problema.causa }}</strong>
                </p>
            </div>
        </div>
    </section>
    -->

    {% include 'componentes/galeria.html' %}

    <section class="py-16 bg-white">
        <div class="max-w-4xl mx-auto px-4 text-center">
            <h2 class="text-[#208884] {{ info.estilo.h2 }} mt-4">
                {{ info.problema.titulo }}
            </h2>
            <p class="text-xl text-slate-600 {{ info.estilo.p }}">
                {{ info.problema.descripcion }}
            </p>
        </div>
    </section>

    <div class="py-[-10px] md:py-8"></div>
    {% include 'componentes/formulario.html' %}
    <div class="py-8"></div>
    {% include 'componentes/footer.html' %}

{% endblock %}