{% extends "base.html" %}

{% block content %}
    {% include 'componentes/navbar.html' %}
    {% include 'componentes/whatsapp.html' %}

    <section class="py-12 bg-[{{ info.estilo.color_tema }}] text-white">
        <div class="max-w-4xl mx-auto px-4 text-center">
            <h1 class="text-sm md:text-sm font-bold uppercase mb-6 text-white">Nuestros Tratamientos</h1>
            <h2 class="text-3xl text-white md:text-5xl font-extrabold leading-tight mb-6 mt-4">Odontología Avanzada y Soluciones Integrales</h2>
            <p class="text-xl text-slate-300 mb-2 leading-relaxed">
                Conozca nuestra oferta de tratamientos avanzados, donde la tecnología y la experiencia clínica se unen para perfeccionar cada detalle de su salud oral
            </p>
        </div>
    </section>

    {% with lista_servicios = info.servicios %}
        {% include 'componentes/servicios.html' %}
    {% endwith %}

    <section class="py-16 bg-{{ info.estilo.bg_claro }} border-t border-{{ info.estilo.borde_debil }}">
        <div class="max-w-4xl mx-auto px-4 text-center">
            <h2 class="text-2xl font-bold mb-6 text-[#208884]">¿No está seguro de qué evaluación necesita o no aparce en la lista?</h2>
            <p class="{{ info.estilo.texto_medio }} mb-8">Puedes preguntar a nuestro equipo por tu necesidad especifica y este puede orientarle sobre el protocolo más adecuado según su edad, factores de riesgo e historia clínica.</p>
            <div class="flex justify-center">
                <a href="https://wa.me/{{ info.whatsapp }}" class="{{ info.estilo.boton_whatsapp }}">
                    Conversar con una Asistente
                </a>
            </div>
        </div>
    </section>

    {% include 'componentes/footer.html' %}
{% endblock %}