<section class="py-20 bg-[{{ info.estilo.color_tema }}] {{ info.estilo.texto_claro }}">
    <div class="{{ info.estilo.sub_contenedor }}">
        <div class="{{ info.estilo.beneficios.grid }}">
            <div>
                <h2 class="text-4xl font-bold mb-6 {{ info.estilo.texto_claro }}">
                    {{ contenido.beneficios.titulo | safe }}
                </h2>
                <p class="text-blue-100 text-lg mb-8">
                    {{ contenido.beneficios.descripcion | safe }}
                </p>
                    <a href="#contacto" class=' bg-[{{ info.estilo.color_secundario }}] hover:bg-white hover:text-[#208884] {{ info.estilo.boton_primario }}'>
                        ¡Recuperar mi sonrisa ahora!
                    </a>
            </div>

            <div class="{{ info.estilo.beneficios.lista }}">
                {% for beneficio in contenido.beneficios.incluye %}
                <div class="{{ info.estilo.beneficios.item }}">
                    <span class="{{ info.estilo.beneficios.check }}">✓</span>
                    <span class="text-gray-100">{{ beneficio | safe }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>