<section id="contacto">
    <form action="/enviar-contacto" method="POST" class="max-w-4xl mx-auto bg-slate-50 p-10 rounded-3xl border border-white/5 shadow-2xl">
        <h3 class="{{ info.estilo.contacto.titulo }} text-[#208884] font-bold mb-2">Solicita tu Consulta de Valoración</h3>
        <h4 class ='{{ info.estilo.contacto.subtitulo }} text-slate-500 text-sm mb-8'>Tu información de contacto llegará a nuestro equipo y nos pondremos en contacto dentro de las primeras 24 horas.</h4>
        
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
            <div>
                <label class="block text-sm font-bold text-[#208884] mb-2 italic">Nombre</label>
                <input type="text" name="nombre" placeholder="Ej: Andrea Jiménez" required 
                    class="w-full px-4 py-3 rounded-xl border border-[#5BBFA3] text-slate-800 placeholder:text-slate-400 focus:ring-2 focus:ring-[#208884] focus:border-[#208884] outline-none transition">
            </div>

            <div>
                <label class="block text-sm font-bold text-[#208884] mb-2 italic">Número de teléfono</label>
                <input type="tel" name="telefono" placeholder="Ej: 89086197" required 
                    class="w-full px-4 py-3 rounded-xl border border-[#5BBFA3] text-slate-800 placeholder:text-slate-400 focus:ring-2 focus:ring-[#208884] focus:border-[#208884] outline-none transition">
            </div>

        </div>

        <div class="grid grid-cols-1 gap-6 mb-6">
            <div>
                <label class="block text-sm font-bold text-[#208884] mb-2 italic">Correo electrónico</label>
                <input type="email" name="email" placeholder="Ej: andrea1998@gmail.com" required 
                    class="w-full px-4 py-3 rounded-xl border border-[#5BBFA3] text-slate-800 placeholder:text-slate-400 focus:ring-2 focus:ring-[#208884] focus:border-[#208884] outline-none transition">
            </div>
        </div>

        <div class="mb-8">
            <label class="block text-sm font-bold text-[#208884] mb-2 italic">Motivo de consulta</label>
            <textarea name="mensaje" rows="4" placeholder="Explica con detalle tu motivo de consulta" required
                class="w-full px-4 py-3 rounded-xl border border-[#5BBFA3] text-slate-800 placeholder:text-slate-400 focus:ring-2 focus:ring-[#208884] focus:border-[#208884] outline-none transition"></textarea>
        </div>

        <button type="submit" class="w-full bg-[#208884] text-white font-black py-4 rounded-xl hover:bg-[#5BBFA3] hover:text-white transition duration-500 shadow-lg shadow-cyan-900/20 uppercase tracking-widest">
            ¡Agendar mi Valoración Ya!
        </button>

        <p class="mt-6 text-[10px] text-slate-500 text-center leading-relaxed">
            🔒 Sus datos están protegidos por el secreto médico y la Ley de Protección de la Persona frente al Tratamiento de sus Datos Personales.
        </p>
    </form>
</section>