<section class="py-20 bg-white">
    <div class="max-w-4xl mx-auto px-4 text-center">
        <span class="text-[{{ info.estilo.color_secundario }}] {{ info.estilo.pre_titulo }}">{{ contenido.problema.pretitulo }}</span>
        <h2 class="{{ info.estilo.h2 }} text-[#208884] mt-4">
            {{ contenido.problema.titulo }}
        </h2>
        <p class="text-xl {{ info.estilo.texto_medio }} {{ info.estilo.p }}">
            {{ contenido.problema.descripcion }}
        </p>
        
        <div class="{{ info.estilo.leyenda_texto }} bg-[{{ info.estilo.color_tema }}]/10 border-[{{ info.estilo.color_tema }}]">
            <p class="text-[{{ info.estilo.color_tema }}] font-medium">
                <strong>{{ contenido.problema.causa | safe }}</strong>
            </p>
        </div>
    </div>
</section>