{% extends "base.html" %}

{% block content %}
<div class="flex flex-col items-center justify-center py-20 text-center">
    <div class="text-[96px] text-[#5BBFA3] mb-6">✓</div>
    <h2 class="{{ info.estilo.h2 }} text-white">¡Mensaje Enviado!</h2>
    <p class="{{ info.estilo.p }} text-slate-100">
        Gracias por contactarnos. Un miembro del equipo del Dr. Albert Igual se pondrá en contacto con usted a la brevedad posible a su Whatsapp o Correo
    </p>
    <div class="mt-10">
        <button type="submit" class="text-center border-2 border-white text-white px-8 py-4 rounded-xl font-bold text-lg hover:bg-white hover:text-[#208884] transition-all">
           <a href="/">Volver al inicio</a> 
        </button>
    </div>
</div>
{% endblock %}